{% extends 'comic/base.html' %}

{% block content %}

		
	<section class="whole-page">
		
			<div class="previous-page">
				{% if pages.paginator.num_pages > 1%}
					<div class="pagination">
						{% if pages.has_previous %}
							<a  href="?page{{pages.previous_page_number}}"> <img src="media/images/NewBack_button.png"></a>
						{% endif %}
					</div>
				{% endif %}
			</div>


			<div class="image">
				{% for page in pages %}
					<div class="image-panel">
						<!--	<h2><a href="{% url 'page_detail' pk=page.pk %}">{{page.title}}</a></h2> -->
						<img src="{{ page.panel.url}}">	
					</div>
				{% endfor %}
			</div>


			<div class="next-page">
				{% if pages.paginator.num_pages > 1 %}
					<div class="pagination">
						{%if pages.has_next %}
						<a  href="?page={{pages.next_page_number}}" > <img src="media/images/NewFront_button.png"></a>
							<!--	<a href="?page={{ pages.paginator.num_pages}}">Last</a> --> 
						{%endif%}
					</div>
				{% endif %}
			</div>
		
	</section>

{% endblock %}